<span id="stockaddtocartprd_{{ productId }}"></span>
<span id="pdaddtocartprd_{{ productId }}">
    <input type='button' name='apply' class='btn btn-primary' value="{{ jtext('COM_REDSHOP_APPLY') }}" onclick='javascript:submitChangeAttribute();' />
    <input type='hidden' name='task' value='changeAttribute' />
    <input type='hidden' name='cart_index' value="{{ cartIndex }}" />
    <input type='hidden' name='product_id' value="{{ productId }}" />
    <input type='hidden' name='view' value='cart' />
    <input type='hidden' name='requiedAttribute' id='requiedAttribute' value='' reattribute=''>
    <input type='hidden' name='requiedProperty' id='requiedProperty' value='' reproperty=''>
</span>