<a id='a_main_image{{ accessoryId }}'
   href='{{ imageUrl }}'
   title=''
   class="modal"
   rel="{handler: 'image', size: {}}">
    <img id='main_image{{ accessoryId }}' class='redAttributeImage' src='{{ thumbUrl }}'/>
</a>
<input type='hidden' name='acc_main_imgwidth' id='acc_main_imgwidth' value='{{ accessoryWidthThumb }}'/>
<input type='hidden' name='acc_main_imgheight' id='acc_main_imgheight' value='{{ accessoryHeightThumb }}'/>
