{% if params.get('show_page_heading', 1) %}
    <h1 class="componentheading{{ params.get('pageclass_sfx') }}">
        {{ jtext('COM_REDSHOP_BILLING_ADDRESS_INFORMATION_LBL') }}
    </h1>
{% endif %}
<form action="{{ jroute(requestUrl) }}" method="post" name="adminForm" id="adminForm"
      enctype="multipart/form-data">
    <fieldset class="adminform">
        <legend>{{ jtext('COM_REDSHOP_CUSTOMER_INFORMATION') }}</legend>
        {{ redSHOPCall(
            'RedshopHelperBilling',
            'render',
            [
                post, billingAddresses.is_company, lists, 0, 0, createAccount
            ]
        ) }}
        <table cellspacing="3" cellpadding="0" border="0" width="100%">
            <tr>
                <td align="right"><input type="button" class="button btn" name="back"
                                         value="{{ jtext('COM_REDSHOP_CANCEL') }}"
                            {% if isEdit == 1 %}
                                disabled
                            {% endif %}
                                         onclick="javascript:cancelForm(this.form);">
                </td>
                <td align="left"><input type="submit" class="button btn btn-primary" name="submitbtn"
                            {% if isEdit == 1 %}
                                disabled
                            {% endif %}
                                        value="{{ jtext('COM_REDSHOP_SAVE') }}">
                </td>
            </tr>
        </table>
    </fieldset>
    <input type="hidden" name="cid" value="{{ billingAddresses.users_info_id }}"/>
    <input type="hidden" name="user_id" id="user_id" value="{{ post["user_id"] }}"/>
    <input type="hidden" name="task" value="save"/>
    <input type="hidden" name="view" value="account_billto"/>
    <input type="hidden" name="address_type" value="BT"/>
    <input type="hidden" name="is_company" id="is_company" value="{{ billingAddresses.is_company }}"/>
    <input type="hidden" name="Itemid" value="{{ itemId }}"/>
</form>
