<label class="radio inline" for="shipping_rate_id_{{ shippingMethod.extension_id }}_{{ index }}">
    <input type="radio"
           id="shipping_rate_id_{{ shippingMethod.extension_id }}_{{ index }}" name="shipping_rate_id"
           value="{{ rate.value }}" {{ checked }}
           onclick="javascript:onestepCheckoutProcess(this.name,'{{ className }}');"/>
    <span>
		{{ rateText }}
	</span>
</label>