<span class="length_number">{{ redSHOPCall('RedshopHelperProduct','redunitDecimal',[product.product_length]) }}</span>
<span class="length_unit">{{ 'DEFAULT_VOLUME_UNIT' | redconfig }}</span>
<span class="separator">X</span>
<span class="width_number">{{ redSHOPCall('RedshopHelperProduct','redunitDecimal',[product.product_width]) }}</span>
<span class="width_unit">{{ 'DEFAULT_VOLUME_UNIT' | redconfig }}</span>
<span class="separator">X</span>
<span class="height_number">{{ redSHOPCall('RedshopHelperProduct','redunitDecimal',[product.product_height]) }}</span>
<span class="height_unit">{{ 'DEFAULT_VOLUME_UNIT' | redconfig }}</span>