<div style="height: {{ height }}px" class="productImageWrap" id="productImageWrapID_{{ productId }}">
    {{ thumbImg|raw }}
</div>
<input type="hidden" name="prd_main_imgwidth" id="prd_main_imgwidth" value="{{ width }}">
<input type="hidden" name="prd_main_imgheight" id="prd_main_imgheight" value="{{ height }}">