<form action="" method="post" name="frmcatalog" id="frmcatalog">
    {{ content }}
    <input type="hidden" name="view" value="catalog" id="view"/>
    <input type="hidden" name="option" id="option" value="com_redshop"/>
    <input type="hidden" name="Itemid" value="<?php echo $Itemid; ?>"/>
    <input type="hidden" name="task" value="catalog_send"/>
</form>
<script type="text/javascript">
    function getCatalogValidation() {
        var frm = document.frmcatalog;
        var email = frm.email_address.value;
        var patt1 = new RegExp("([a-z0-9_]+)@([a-z0-9_-]+)[.][a-z]");

        if (frm.catalog_id.value == '0') {
            alert("{{ jtext('COM_REDSHOP_SELECT_CATALOG') }}");
            frm.catalog_id.focus();
            return false;
        }

        if (frm.name_2.value == '') {
            alert("{{ jtext('COM_REDSHOP_ENTER_NAME') }}");
            frm.name_2.focus();
            return false;
        }

        if (email == '') {
            alert("{{ jtext('COM_REDSHOP_ENTER_AN_EMAIL_ADDRESS') }}");
            frm.email_address.focus();
            return false;
        } else if (patt1.test(email) == false) {
            alert("{{ jtext('COM_REDSHOP_EMAIL_ADDRESS_NOT_VALID') }}");
            frm.email_address.focus();
            return false;
        }
        return true;
    }
</script>