<a onclick='setWrapper({{ wid }},{{ wp }},{{ wp_withoutvat }},{{ product_id }})'
        title='{{ title }}'
        {{ attr }}>
    <img src='{{ thumbUrl }}' alt='{{ alt }}'  title='{{ title }}'>
</a>