{% set atth = 50 %}
{% set attw = 50 %}
{% if 'ATTRIBUTE_SCROLLER_THUMB_HEIGHT' | redconfig %}
    {% set atth = 'ATTRIBUTE_SCROLLER_THUMB_HEIGHT' | redconfig %}
{% endif %}

{% if 'ATTRIBUTE_SCROLLER_THUMB_WIDTH' | redconfig %}
    {% set attw = 'ATTRIBUTE_SCROLLER_THUMB_WIDTH' | redconfig %}
{% endif %}

<table cellpadding="5" cellspacing="5">
    <tr>
        <td>
            <a class="leftButton" id="FirstButton" href="javascript:isFlowers{{ commonId }}.scrollReverse();"></a>
        </td>
        <td>
            <div id="isFlowersFrame{{ commonId }}" name="isFlowersFrame{{ commonId }}" style="margin: 0px; padding: 0px;position: relative; overflow: hidden;">
                <div id="isFlowersImageRow{{ commonId }}" name="isFlowersImageRow{{ commonId }}" style="position: absolute; top: 0px;left: 0px;">
                    <script type="text/javascript">
                        var isFlowers{{ commonId }} = new ImageScroller("isFlowersFrame{{ commonId }}", "isFlowersImageRow{{ commonId }}");
                        {% for property in properties %}
                            {% set borderStyle = (selectedProperty == property.value) ? " 1px solid " : "" %}
                            {%
                                set thumbUrl = redSHOPCall(
                                'RedshopHelperMedia',
                                'getImagePath',
                                [
                                    property.property_image,
                                    '\'\'',
                                    'thumb',
                                    'product_attributes',
                                    width,
                                    height,
                                    'USE_IMAGE_SIZE_SWAPPING' | redconfig
                                ]
                                )
                            %}
                            isFlowers{{ commonId }}.addThumbnail("{{ thumbUrl }}", "javascript:isFlowers{{ commonId }}.scrollImageCenter(\"{{ loop.index }}\");setPropImage(\"{{ productId }}\", \"{{ propertyId }}\", \"{{ property.value }}\");changePropertyDropdown(\"{{ productId }}\", \"{{ accessoryId }}\", \"{{ relatedProductId }}\", \"{{ attribute.value }}\", \"{{ property.value }}\", \"{{ width }}\", \"{{ height }}\");", "{{ property.text }}", "", "{{ propertyId }}_propimg_{{ property.value }}", "{{ borderStyle }}");
                        {% endfor %}
                        isFlowers{{ commonId }}.setThumbnailHeight({{ atth }});
                        isFlowers{{ commonId }}.setThumbnailWidth({{ attw }});
                        isFlowers{{ commonId }}.setThumbnailPadding(5);
                        isFlowers{{ commonId }}.setScrollType(0);
                        isFlowers{{ commonId }}.enableThumbBorder(false);
                        isFlowers{{ commonId }}.setClickOpenType(1);
                        isFlowers{{ commonId }}.setThumbsShown({{ 'NOOF_THUMB_FOR_SCROLLER' | redconfig }});
                        isFlowers{{ commonId }}.setNumOfImageToScroll(1);
                        isFlowers{{ commonId }}.renderScroller();
                    </script>
                </div>
            </div>
        </td>
        <td>
            <a class='rightButton' id="FirstButton" href="javascript:isFlowers{{ commonId }}.scrollForward();"></a>
        </td>
    </tr>
</table>