<div class="property_image_inner" {{ style }} id="{{ propertyId ~ '_propimg_' ~ property.value }}">
    <a onclick="setPropImage('{{ productId }}','{{ propertyId }}','{{ property.value }}');
            changePropertyDropdown('{{ productId }}','{{ accessoryId }}','{{ relatedProductId }}','{{ attribute.value }}','{{ property.value }}','{{ mpwThumb }}','{{ mphThumb }}');">
        <img class="redAttributeImage" width="50" height="50" src="{{ thumbUrl }}" title="{{ property.property_name }}">
    </a>
</div>