<input class="form-check-input" type="checkbox" id="termscondition" name="termscondition" value="1"/>
<label class="form-check-label">
    {{ jtext('COM_REDSHOP_TERMS_AND_CONDITIONS_LBL') }}
    <a class="modal-termscondition" href="{{ articleUrl }}"
       rel="{handler: \'iframe\', size: {x: {{ finalWidth }}, y: {{ finalHeight }}">
        {{ jtext('COM_REDSHOP_TERMS_AND_CONDITIONS_FOR_LBL') }}
    </a>
</label>