<label class="checkbox"><input type="checkbox" id="termscondition" name="termscondition" value="1" />
{{ jtext('COM_REDSHOP_TERMS_AND_CONDITIONS_LBL') }}
    <a class="modal modal-termscondition" href="{{ articleUrl }}"
       rel="{handler: \'iframe\', size: {x: {{ finalWidth }}, y: {{ finalHeight}}">
        {{ jtext('COM_REDSHOP_TERMS_AND_CONDITIONS_FOR_LBL') }}
    </a>
</label>