{% if 'AJAX_CART_BOX' | redconfig != 1 %}
    <span id="pdaddtocart{{ stockId }}" {{ class }} {{ title }} {{ cartStyle }} class="pdaddtocart">
        <input type="button" {{ onclick }} {{ cartTitle }} name="addtocart_button" value="{{ requestLabel }}" />
    </span>
{% else %}
    <a class="ajaxcartcolorbox{{ productId }}"  href="javascript:;" {{ onclick }}>
        <span id="pdaddtocart{{ stockId }}" {{ class }} {{ title }} {{ cartStyle }} class="pdaddtocart">
            <input type="button" {{ cartTitle }} name="addtocart_button" value="{{ requestLabel }}" />
        </span>
    </a>
{% endif %}