{% if 'AJAX_CART_BOX' | redconfig != 1 %}
    {% if fileExist %}
        <span {{ class }} {{ title }} {{ cartStyle }} id="pdaddtocart{{ stockId }}" class="pdaddtocart_img_link">
            <img {{ onclick }} {{ cartTitle }} alt="{{ requestLabel }}" style="cursor: pointer;"
                                               src="{{ REDSHOP_FRONT_IMAGES_ABSPATH }}~{{ requestImage }}"/>
        </span>
    {% else %}
        <a class="ajaxcartcolorbox{{ productId }}" href="javascript:;" {{ onclick }}>
            <span {{ class }} {{ title }} {{ cartStyle }} id="pdaddtocart{{ stockId }}" {{ cartTitle }} style="cursor: pointer;"
                                                          class="pdaddtocart_img_link">
                {{ requestLabel }}
            </span>
        </a>
    {% endif %}
{% else %}
    {% if fileExist %}
        <a class="ajaxcartcolorbox{{ productId }}" href="javascript:;" {{ onclick }}>
            <span {{ class }} {{ title }} {{ cartStyle }} id="pdaddtocart{{ stockId }}" class="pdaddtocart_img_link">
                <img {{ cartTitle }} alt="{{ requestLabel }}" style="cursor: pointer;"
                                     src="{{ REDSHOP_FRONT_IMAGES_ABSPATH }}~{{ requestImage }}"/>
            </span>
        </a>
    {% else %}
        <a class="ajaxcartcolorbox{{ productId }}" href="javascript:;" {{ onclick }}>
            <span {{ class }} {{ title }} {{ cartStyle }} id="pdaddtocart{{ stockId }}" {{ cartTitle }} style="cursor: pointer;"
                                                          class="pdaddtocart_img_link">
                {{ requestLabel }}
            </span>
        </a>
    {% endif %}
{% endif %}