<form name="{{ cartFromName }}" id="{{ cartFromName }}" class='addtocart_formclass' action='' method='post'>
    <input type='hidden' name='preorder_product_stock' data-id="preorder_product_stock{{ productId }}" value="{{ isPreorderStockExists }}">
    <input type='hidden' name='product_stock' data-id="product_stock{{ productId }}" value="{{ isStockExist }}">
    <input type='hidden' name='product_preorder' data-id="product_preorder{{ productId }}" value="{{ productPreOrder }}">
    <input type='hidden' name='product_id' id='product_id' value="{{ productId }}">
    <input type='hidden' name='category_id' value="{{ categoryId }}">
    <input type='hidden' name='view' value='cart'>
    <input type='hidden' name='task' value='add'>
    <input type='hidden' name='option' value='com_redshop'>
    <input type='hidden' name='Itemid' id='Itemid' value="{{ itemId }}">
    <input type='hidden' name='sel_wrapper_id' data-id='sel_wrapper_id' value='0'>

    <input type='hidden' name='main_price' id="main_price{{ productId }}" value="{{ productPrice }}" />
    <input type='hidden' name='tmp_product_price' id='tmp_product_price' value='0'>

    <input type='hidden' name='product_old_price' id="product_old_price{{ productId }}" value="{{ productOldPrice }}" />
    <input type='hidden' name='tmp_product_old_price' id='tmp_product_old_price' value='0'>

    <input type='hidden' name='product_price_no_vat' id="product_price_no_vat{{ productId }}" value="{{ productPriceNoVat }}" />
    <input type='hidden' name='productprice_notvat' id='productprice_notvat' value='0'>

    <input type='hidden' name='min_quantity' id='min_quantity' value="{{ minQuantity }}" requiredtext="{{ jtext('COM_REDSHOP_MINIMUM_QUANTITY_SHOULD_BE') }}">
    <input type='hidden' name='max_quantity' id='max_quantity' value="{{ maxQuantity }}" requiredtext="{{ jtext('COM_REDSHOP_MINIMUM_QUANTITY_SHOULD_BE') }}">

    <input type='hidden' name='accessory_data' id='accessory_data' value='0'>
    <input type='hidden' name='acc_attribute_data' id='acc_attribute_data' value='0'>
    <input type='hidden' name='acc_quantity_data' id='acc_quantity_data' value='0'>
    <input type='hidden' name='acc_property_data' id='acc_property_data' value='0'>
    <input type='hidden' name='acc_subproperty_data' id='acc_subproperty_data' value='0'>
    <input type='hidden' name='accessory_price' id='accessory_price' value='0'>
    <input type='hidden' name='accessory_price_withoutvat' id='accessory_price_withoutvat' value='0'>

    <input type='hidden' name='attribute_data' id='attribute_data' value='0'>
    <input type='hidden' name='property_data' id='property_data' value='0'>
    <input type='hidden' name='subproperty_data' data-id='subproperty_data' value='0'>
    <input type='hidden' name='attribute_price' id='attribute_price' value='0'>
    <input type='hidden' name='requiedAttribute' id='requiedAttribute' value='' reattribute="{{ totalRequiredAttributes }}">
    <input type='hidden' name='requiedProperty' id='requiedProperty' value='' reproperty="{{ totalRequiredProperties }}">

    <input type='hidden' name='calcHeight' id='hidden_calc_height' value='' />
    <input type='hidden' name='calcWidth' id='hidden_calc_width' value='' />
    <input type='hidden' name='calcDepth' id='hidden_calc_depth' value='' />
    <input type='hidden' name='calcRadius' id='hidden_calc_radius' value='' >
    <input type='hidden' name='calcUnit' id='hidden_calc_unit' value='' />
    <input type='hidden' name='pdcextraid' id='hidden_calc_extraid' value='' />
    <input type='hidden' name='hidden_attribute_cartimage' data-id="hidden_attribute_cartimage{{ productId }}" value="{{ preSelectedAttrImage }}" />

    {% if giftcardId != 0 %}
        <input type='hidden' name='giftcard_id' data-id= 'giftcard_id' value='{{ giftcardId }}' />
        <input type='hidden' name='reciver_email' data-id='reciver_email' value="{{ cart.reciver_email ? cart.reciver_email : '' }}"/>
        <input type='hidden' name='reciver_name' data-id='reciver_name' value="{{ cart.reciver_email ? cart.reciver_email : '' }}"/>

        {% if product.customer_amount == 1 %}
            <input type='hidden' name='customer_amount' id='customer_amount' value="{{ cart.customer_amount ? cart.customer_amount : '' }}">
        {% endif %}

    {% endif %}

    {% if content in "{addtocart_quantity}" or content in "{addtocart_quantity_increase_decrease}" or content in "{addtocart_quantity_selectbox}" %}
        <input class='quantity_select' type='hidden' name='quantity' id="quantity{{ productId }}" value="{{ quantity }}" maxlength="{{ 'DEFAULT_QUANTITY' | redconfig }}" size="{{ 'DEFAULT_QUANTITY' | redconfig }}"/>
    {% endif %}

    {{ content }}

    {% if fileExitPreOrderImage %}
        <span class="preordercart_order" data-id="preordercart{{ stockId }}" {{ preOrderStyle }}>
            <img {{ onclick }} {{ cartTitle }} alt="{{ preOrderLabel }}" style="cursor: pointer;" src="{{ REDSHOP_FRONT_IMAGES_RELPATH }}~{{ preOrderImage }}" />
        </span>
        {{ cartIcon }}
    {% else %}
        <span class="preordercart_order_m" id="preordercart{{ stockId }}" {{ preOrderStyle }}>
            <a href="javascript:;"{{ onclick }}>
                {{ jtext('COM_REDSHOP_PREORDER_BTN') }}
            </a>
        </span>
        {{ cartIcon }}
    {% endif %}
    <span class="stockaddtocart" data-id="stockaddtocart{{ stockId }}" {{ stockStyle }}>
        {{ displayText }}
    </span>
</form>