{% set registerMethod = 'REGISTER_METHOD' | redconfig %}
{% set openToStretcher = 0 %}
{% set company = 'hidden' %}
{% set customer = 'hidden' %}

{% if 'ALLOW_CUSTOMER_REGISTER_TYPE' | redconfig == 0 %}
    {% set company = '' %}
    {% set customer = '' %}
{% elseif 'ALLOW_CUSTOMER_REGISTER_TYPE' | redconfig == 1 %}
    {% set openToStretcher = 0 %}
{% elseif 'ALLOW_CUSTOMER_REGISTER_TYPE' | redconfig == 2 %}
    {% set openToStretcher = 1 %}
{% endif %}
{% set isCompany = openToStretcher == 1 ? 1 : 0 %}

{% if registerMethod == 2 %}
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="createaccount" id="createaccount" class="onestep-createaccount-toggle"
                        {{ 'CREATE_ACCOUNT_CHECKBOX' | redconfig == 1 ? 'checked="checked"' : "''" }}
                       value="1"/>
                {{ jtext('COM_REDSHOP_CREATE_ACCOUNT') }}
            </label>
        </div>
    </div>
{% endif %}
{% if registerMethod != 1 and registerMethod != 3 %}
    <div id="onestep-createaccount-wrapper"
         style="display: {{ ('CREATE_ACCOUNT_CHECKBOX' | redconfig == 1 or registerMethod == 0) ? 'block' : 'none' }};">
        <div class="form-group">
            <label>{{ jtext('COM_REDSHOP_USERNAME_REGISTER') }}</label>
            <input class="inputbox form-control required" type="text" name="username"
                   id="onestep-createaccount-username"
                   size="32" maxlength="250" value="{{ username }}"/>
        </div>
        <div class="form-group">
            <label>{{ jtext('COM_REDSHOP_PASSWORD_REGISTER') }}</label>
            <input class="inputbox form-control required" type="password" name="password1"
                   id="password1" size="32" maxlength="250" value=""/>
        </div>
        <div class="form-group">
            <label>{{ jtext('COM_REDSHOP_CONFIRM_PASSWORD') }}</label>
            <input class="inputbox form-control required" type="password" name="password2"
                   id="password2" size="32" maxlength="250" value=""/>
        </div>
        <hr/>
    </div>
{% endif %}
<div class="form-group">
    <label class="radio-inline <?php echo $customer; ?>">
        <input type="radio" name="togglerchecker" id="toggler1" class="toggler" onclick="getBillingTemplate(this);"
               value="0" {{ (isCompany == 0) ? 'checked="checked"' : '' }} billing_type="private"/>
        {{ jtext('COM_REDSHOP_USER_REGISTRATION') }}
    </label>
    <label class="radio-inline {{ company }}">
        <input type="radio" name="togglerchecker" id="toggler2" class="toggler" onclick="getBillingTemplate(this);"
               value="1" {{ (isCompany == 1) ? 'checked="checked"' : '' }} billing_type="company"/>
        {{ jtext('COM_REDSHOP_COMPANY_REGISTRATION') }}
    </label>
    {{ dispatcher.trigger('onRenderOnstepCheckout')[0] }}
</div>
<div id="wrapper-billing"></div>