{% set registerMethod = 'REGISTER_METHOD' | redconfig %}
{% set openToStretcher = 0 %}
{% set company = 'hidden' %}
{% set customer = 'hidden' %}

{% if 'ALLOW_CUSTOMER_REGISTER_TYPE' | redconfig == 0 %}
    {% set company = '' %}
    {% set customer = '' %}
{% elseif 'ALLOW_CUSTOMER_REGISTER_TYPE' | redconfig == 1 %}
    {% set openToStretcher = 0 %}
{% elseif 'ALLOW_CUSTOMER_REGISTER_TYPE' | redconfig == 2 %}
    {% set openToStretcher = 1 %}
{% endif %}
{% set isCompany = openToStretcher == 1 ? 1 : 0 %}
<!-- // Tweak by Ronni START - Move toggler private/ company up from bottom + style="margin-xx" + change checked="" -->
<div class="form-group" style="margin-top:20px;margin-bottom:20px">
    <label class="<?php echo $customer; ?> btn-toggler btn btn-toggler-customer">
        <input type="radio" name="togglerchecker" id="toggler1" class="toggler" onclick="getBillingTemplate(this);"
               value="0" checked="" billing_type="private"/>
        {{ jtext('COM_REDSHOP_USER_REGISTRATION') }}
    </label>
    <label class="{{ company }} btn-toggler btn btn-toggler-customer">
        <input type="radio" name="togglerchecker" id="toggler2" class="toggler" onclick="getBillingTemplate(this);"
               value="1" checked="checked" billing_type="company"/>
        {{ jtext('COM_REDSHOP_COMPANY_REGISTRATION') }}
    </label>
    {{ dispatcher.trigger('onRenderOnstepCheckout')[0] }}
</div>
<!-- // Tweak by Ronni END - Move toggler private/ company up from bottom -->
{% if registerMethod == 2 %}
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="createaccount" id="createaccount" class="onestep-createaccount-toggle"
                        {{ 'CREATE_ACCOUNT_CHECKBOX' | redconfig == 1 ? 'checked="checked"' : "''" }}
                       value="1"/>
                {{ jtext('COM_REDSHOP_CREATE_ACCOUNT') }}
            </label>
        </div>
    </div>
{% endif %}
{% if registerMethod != 1 and registerMethod != 3 %}
    <div id="onestep-createaccount-wrapper"
         style="display: {{ ('CREATE_ACCOUNT_CHECKBOX' | redconfig == 1 or registerMethod == 0) ? 'block' : 'none' }};">
        <!-- // Tweak by Ronni START - Remove username
        <div class="form-group">
            <label>{{ jtext('COM_REDSHOP_USERNAME_REGISTER') }}</label>
            <input class="inputbox form-control required" type="text" name="username"
                   id="onestep-createaccount-username"
                   size="32" maxlength="250" value="{{ username }}"/>
        </div>
        // Tweak by Ronni END - Remove username -->
        <!-- // Tweak by Ronni START - Remove lbl + Change look of inputbox for password -->
        <div class="form-group">
            <span class="input-prepend input-append">
                <span class="add-on"><i class="fas fa-lock"></i>
                    <label></label>
                </span>
            </span>
            <span class="hasPopover" title="{{ jtext('COM_REDSHOP_PASSWORD_REGISTER') }}" 
                    data-content="{{ jtext('COM_REDSHOP_PASSWORD_REGISTER_TIP') }}">
                <input class="inputbox form-control required" type="password" name="password1" id="password1" autocomplete="new-password" 
                    size="32" maxlength="250" value="" placeholder="{{ jtext('COM_REDSHOP_PASSWORD_REGISTER') }}"/>
            </span>
        </div>
        <!-- // Tweak by Ronni END - Remove lbl + Change look of inputbox for password -->
        <!-- // Tweak by Ronni START - Remove lbl + Change look of inputbox for confirm password + remove HR -->
        <div class="form-group">
            <span class="input-prepend input-append">
                <span class="add-on"><i class="fas fa-lock"></i>
                    <label></label>
                </span>
            </span>
            <span class="hasPopover" title="{{ jtext('COM_REDSHOP_CONFIRM_PASSWORD') }}" 
                    data-content="{{ jtext('COM_REDSHOP_PASSWORD_REGISTER_TIP') }}">
                <input class="inputbox form-control required" type="password" name="password2" id="password2" autocomplete="new-password" 
                    size="32" maxlength="250" value="" placeholder="{{ jtext('COM_REDSHOP_CONFIRM_PASSWORD') }}"/>
            </span>
        </div>
        <!-- // Tweak by Ronni END - Remove lbl + Change look of inputbox for confirm password + remove HR -->
    </div>
{% endif %}
<div id="wrapper-billing"></div>