<form name="update_cart{{ i }}" method="POST">
    <input type="text" id="quantitybox{{ i }}" name="quantity" size="1" value="{{ quantity }}"/>
    <input type="button" id="minus" value="-"
           onClick="quantity.value = (quantity.value) ; var qty1 = quantity.value; if( !isNaN( qty1 ) &amp;&amp; qty1 > 1 ) quantity.value--;return false;">

    <input type="button" id="plus" value="+"
           onClick="quantity.value = (+quantity.value+1)"><input type="hidden" name="{{ cartItem }}"
                                                                 value="{{ productId }}">
    <input type="hidden" name="cart_index" value="{{ i }}">
    <input type="hidden" name="Itemid" value="{{ itemId }}">
    <input type="hidden" name="task" value="">
    <img class="update_cart" src="{{ constant('REDSHOP_FRONT_IMAGES_ABSPATH') ~ updateImage }}"
         title="{{ jtext('COM_REDSHOP_UPDATE_PRODUCT_FROM_CART_LBL') }}"
         alt="{{ jtext('COM_REDSHOP_UPDATE_PRODUCT_FROM_CART_LBL') }}"
         onclick="document.update_cart{{ i }}.task.value='update';document.update_cart{{ i }}.submit();">
</form>