{% if isPromotionAward == true %}
<label class="form-control form-control-cart" id="quantitybox{{ i }}">{{ quantity }}</label>
{% else %}
<form name="update_cart{{ i }}" method="POST">
    <input class="form-control quantity-input quantity-input-cart" type="text" id="quantitybox{{ i }}" name="quantity"
        size="1" value="{{ quantity }}" />
    <span class="quantity-controls-cont">
        <span class="quantity_sp01">
            <input class="quantity-controls quantity-controls-cart quantity-plus" type="button" id="plus" value="+"
                onClick="quantity.value = (+quantity.value+1)">
        </span>
        <span class="quantity_sp02">
            <input class="quantity-controls quantity-controls-cart quantity-minus" type="button" id="minus" value="-"
                onClick="quantity.value = (quantity.value) ; var qty1 = quantity.value; if( !isNaN( qty1 ) &amp;&amp; qty1 > 1 ) quantity.value--;return false;">
        </span>
    </span>
    <input type="hidden" name="{{ cartItem }}" value="{{ productId }}">
    <input type="hidden" name="cart_index" value="{{ i }}">
    <input type="hidden" name="Itemid" value="{{ itemId }}">
    <input type="hidden" name="task" value="">
</form>
{% endif %}