{% if isPromotionAward == true %}
    <label id="quantitybox{{ i }}">{{ quantity }}</label>
{% else %}
<form style="padding:0px;margin:0px;" name="update_cart{{ i }}" method="POST"
      action="index.php?option=com_redshop&view=cart&{{ token }}=1">
    <input class="inputbox input-mini" type="text" value="{{ quantity }}" name="quantity" id="quantitybox{{ i }}"
           size="{{ 'DEFAULT_QUANTITY' | redconfig }}"
           maxlength="{{ 'DEFAULT_QUANTITY' | redconfig }}" onchange="validateInputNumber(this.id);">
    <input type="hidden" name="{{ cartItem }}" value="{{ productId }}"/>
    <input type="hidden" name="cart_index" value="{{ i }}"/>
    <input type="hidden" name="Itemid" value="{{ itemId }}"/>
    <input type="hidden" name="{{ token }}" value="1"/>
    <input type="hidden" name="task" value=""/>
</form>
{% endif %}
