{{ templateReview1 }}

{% if mainBlock < reviews|length %}
    <div style="clear:both;" class="show_reviews">
        <a href="javascript:showallreviews({{ productId }});">
            <img src="{{ constant('REDSHOP_FRONT_IMAGES_ABSPATH') }}reviewarrow.gif">
            {{ jtext('COM_REDSHOP_SHOW_ALL_REVIEWS') }}
        </a>
    </div>
{% endif %}
<div style="display:none;" id="showreviews{{ productId }}" name="showreviews{{ productId }}">
    {{ templateReview2 }}
</div>
