<div class="container">
{% if billingAddresses %}
    {% set shippingCheck = (usersInfoId == billingAddresses.users_info_id) ? 'checked="checked"' : '' %}
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="shipping-address-default"
               onclick="javascript:onestepCheckoutProcess(this.name,'');" name="users_info_id"
               value="{{ billingAddresses.users_info_id }}" {{ shippingCheck }}
               onclick="javascript:onestepCheckoutProcess(this.name,'{{ className }}');"/>
        <label class="form-check-label" for="shipping-address-shipping">
            {{ jtext('COM_REDSHOP_DEFAULT_SHIPPING_ADDRESS') }}
        </label>
    </div>
{% endif %}

{% for shippingAddress in shippingAddresses %}
    {% set addShippingLink = jroute(
        'index.php?option=com_redshop&view=account_shipto&tmpl=component&task=addshipping'
        ~ '&return=checkout&Itemid=' ~ itemId ~ '&infoid=' ~ shippingAddress.users_info_id,
        false
        ) %}
    {% set removeShippingLink = jroute(juri.base() ~
        'index.php?option=com_redshop&view=account_shipto&return=checkout'
        ~ '&tmpl=component&task=remove&infoid=' ~ shippingAddress.users_info_id ~ '&Itemid=' ~ itemId,
        false
        ) %}

    {% set shippingCheck = (usersInfoId == shippingAddress.users_info_id) ? 'checked="checked"' : '' %}

    <div class="form-check">
        <input class="form-check-input" type="radio" id="shipping-address-shipping"
                onclick="javascript:onestepCheckoutProcess(this.name,'');" name="users_info_id"
               value="{{ shippingAddress.users_info_id }}" {{ shippingCheck }}
               onclick="javascript:onestepCheckoutProcess(this.name,'{{ className }}');"/>
        <label class="form-check-label" for="shipping-address-shipping">
            {{ shippingAddress.firstname }} {{ shippingAddress.lastname }}
        </label>
        <a class="ModalAddShippingAddressButton" data-url="{{ addShippingLink }}">
            ({{ jtext('COM_REDSHOP_EDIT_LBL') }})
        </a>
        <a href="{{ removeShippingLink }}" title="">
            ({{ jtext('COM_REDSHOP_DELETE_LBL') }})
        </a>
    </div>
{% endfor %}
{% set addLink = jroute('index.php?option=com_redshop&view=account_shipto&tmpl=component&task=addshipping'
    ~ '&return=checkout&Itemid=' ~ itemId ~ '&infoid=0&is_company=' ~ billingAddresses.is_company,
    false) %}

<div class="form-check">
    <button class="btn btn-primary ModalAddShippingAddressButton" type="button" data-url="{{ addLink }}" >
        {{ jtext('COM_REDSHOP_ADD_ADDRESS') }}
    </button>
</div>
</div>