{% if billingAddresses %}
    <!-- // Tweak by Ronni START - Shipping always choose billing on load -->
    {% set shippingCheck = 'checked="checked"' %}
    <div class="radio">
        <label class="radio">
            <input type="radio" onclick="javascript:onestepCheckoutProcess(this.name,'');"
                   name="users_info_id" value="{{ billingAddresses.users_info_id }}" {{ shippingCheck }}/>
            {{ jtext('COM_REDSHOP_DEFAULT_SHIPPING_ADDRESS') }}
        </label>
    </div>
{% endif %}

{% for shippingAddress in shippingAddresses %}
    {% set addShippingLink = jroute(
        'index.php?option=com_redshop&view=account_shipto&tmpl=component&task=addshipping'
        ~ '&return=checkout&Itemid=' ~ itemId ~ '&infoid=' ~ shippingAddress.users_info_id,
        false
        ) %}
    {% set removeShippingLink = jroute(juri.base() ~
        'index.php?option=com_redshop&view=account_shipto&return=checkout'
        ~ '&tmpl=component&task=remove&infoid=' ~ shippingAddress.users_info_id ~ '&Itemid=' ~ itemId,
        false
        ) %}
    <!-- // Tweak by Ronni START - Shipping always choose billing on load -->
    {% set shippingCheck = '' %}

    <div class="radio">
        <label class="radio inline">
            <input type="radio" onclick="javascript:onestepCheckoutProcess(this.name,'');"
                   name="users_info_id" value="{{ shippingAddress.users_info_id }}" {{ shippingCheck }} />
            {% if shippingAddress.company_name %}
                <b>{{ shippingAddress.company_name }}</b> -  
            {% endif %} 
            {{ shippingAddress.firstname }} {{ shippingAddress.lastname }}
        </label>
        <!-- // Tweak by Ronni - Change Edit shipping popup to BS modal -->
        <a class="checkout-shipping-btn-edit checkout-shipping-btn" data-toggle="modal" data-target="#Modal-edit-ship" 
                href="{{ addShippingLink }}">
                {{ jtext('COM_REDSHOP_EDIT_LBL') }}
        </a>
        <div id="Modal-edit-ship" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        Rediger forsendelsesadresse
                    </div>
                    <div class="modal-body">
                    
                    </div>
                    <div class="modal-footer">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">
                            {{ jtext('COM_REDSHOP_CLOSE') }}
                    </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Tweak by Ronni - Add class="checkout-shipping-btn" -->
        <a class="checkout-shipping-btn" href="{{ removeShippingLink }}" title="">
            {{ jtext('COM_REDSHOP_DELETE_LBL') }}
        </a>
    </div>
{% endfor %}
{% set addLink = jroute('index.php?option=com_redshop&view=account_shipto&tmpl=component&task=addshipping'
    ~ '&return=checkout&Itemid=' ~ itemId ~ '&infoid=0&is_company=' ~ billingAddresses.is_company,
    false) %}

<!-- // Tweak by Ronni - Add <br> + Change Add shipping popup to BS modal -->
<br>
<a class="btn btn-primary" data-toggle="modal" data-target="#Modal-add-ship" 
        href="{{ addLink }}">
    {{ jtext('COM_REDSHOP_ADD_ADDRESS') }}
</a>
<div id="Modal-add-ship" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ jtext('COM_REDSHOP_ADD_ADDRESS') }}
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">
                    {{ jtext('COM_REDSHOP_CLOSE') }}
                </button>
            </div>
        </div>
    </div>
</div>