{% set checkedClass = checked ? 'paymentgtwchecked' : '' %}
{% set checked = checked ? 'checked="checked"' : '' %}

<div id="{{ oneMethod.name }}" class="{{ checkedClass }}">
    <div class="form-check">
        <input
                class="form-check-input"
                type="radio"
                name="payment_method_id"
                id="{{ oneMethod.name ~ index }}"
                value="{{ oneMethod.name }}"
                {{ checked }}
                onclick="javascript:onestepCheckoutProcess(this.name, '');"
        />
        <label class="form-check-label" for="{{ oneMethod.name ~ index }}">
            {{ jtext('PLG_' ~ oneMethod.name|upper) }}
        </label>
        {% if showImage %}
            <img
                    alt="{{ jtext('PLG_' ~ oneMethod.name|upper) }}"
                    title="{{ jtext('PLG_' ~ oneMethod.name|upper) }}"
                    src="{{ logo }}"/>
        {% endif %}
    </div>
</div>
