{% set checkedClass = checked ? 'paymentgtwchecked' : '' %}
{% set checked = checked ? 'checked="checked"' : '' %}

<div id="{{ oneMethod.name }}" class="{{ checkedClass }}">
    <label class="radio" for="{{ oneMethod.name ~ index }}">
        <input
                type="radio"
                name="payment_method_id"
                id="{{ oneMethod.name ~ index }}"
                value="{{ oneMethod.name }}"
                {{ checked }}
                {{ disabled }}
                onclick="javascript:onestepCheckoutProcess(this.name, '');"
        />
        {% if showImage %}
            <img
                    alt="{{ jtext('PLG_' ~ oneMethod.name|upper) }}"
                    title="{{ jtext('PLG_' ~ oneMethod.name|upper) }}"
                    src="{{ logo }}"/>
        {% endif %}
        <!-- // Tweak by Ronni START - disabled in input above 
            + Bank and EAN transfer plg disable if un-paid invoices in Billy -->
        {% if disabled %}
            <span style="margin-left:5px">{{ disabledText }}</span>
        {% else %}
            <span style="margin-left:5px">{{ jtext('PLG_' ~ oneMethod.name|upper) }}</span>
        {% endif %}
    </label>
</div>
