<a {{ onClick }} title="{{ jtext('COM_REDSHOP_PRINT_LBL') }}">
    <img src="{{ constant('JSYSTEM_IMAGES_PATH') }}printButton.png"
         alt="{{ jtext('COM_REDSHOP_PRINT_LBL') }}"
         title="{{ jtext('COM_REDSHOP_PRINT_LBL') }}" />
</a>
