<form data="{{ action }}" name="orderby_form" action="" method="post">
    {{ lists['order_by'] }}
    <input type="hidden" name="texpricemin" id="texpricemin" value="{{ texPriceMin }}"/>
    <input type="hidden" name="texpricemax" id="texpricemax" value="{{ texPriceMax }}"/>
    <input type="hidden" name="manufacturer_id" id="manufacturer_id" value="{{ manufacturerId }}"/>
    <input type="hidden" name="category_id" id="category_id" value="{{ categoryId }}"/>
    <input type="hidden" name="category_template" id="category_template" value="{{ categoryTemplateId }}"/>
</form>